@font-face {
  font-family: "Bagnard Sans";
  src: url('../fonts/BagnardSans.otf') format('opentype');
}
@font-face {
  font-family: "Bagnard";
  src: url('../fonts/Bagnard.otf') format('opentype');
}
@font-face {
  font-family: "Cotham Sans";
  src: url('../fonts/CothamSans.otf') format('opentype');
}

/* body format */
html, body {
  font-family: "Poppins", sans-serif;
  /* scroll-behavior: smooth; */
}

/* navigation bar at top of page */
nav {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  /* color: #23221E; */
  color: #587A00;
}

nav a:hover {
  text-decoration: none;
  /* color: #9F9F56; */
  color: #23221E;
}

#miranda {
  font-size: 32px;
  font-family: "Bagnard Sans";
  color: #0E3DBE;
}

.links {
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 200;
}

ul {
  /* list-style-type: none; */
  margin: 0px;
}

.center-block {
  display: flex;
  justify-content: center;
}

.narrow {
  width: 67vw;

}

.body-text {
  font-weight: 200;
  line-height: 175%;
  letter-spacing: 1px;
}

.body-text a {
  text-decoration: none;
  /* color: #0E3DBE; */
  color: #E44E5D;
}

.body-text a:hover {
  text-decoration: none;
  color: #EC838D;
}

/* .white-highlight {
  background-color: white;
} */

.headline {
  font-family: "Bagnard Sans", "Epilogue", sans-serif;
  /* font-size: 64px; */
  font-size: 5vw;
  /* float: left; */
  margin-top: 15vh;
}

.half-highlight {
  background: linear-gradient(to top, #FFF185 50%, transparent 50%);

}

#headshot {
  position: relative;
  width: max(20vw, 50px);
  /* height: 20%; */
  /* position: absolute; */
  float: right;
  /* top: 12vh;
  right: 10vw; */
  margin-left: -20vw;
  margin-right: -5vw;
  margin-top: -30vh;
  /* margin-top: -28vh; */
  z-index: -1;
}

.narrower-left-justified {
  width: 45vw;
}

#footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#footer ul {
  list-style-type: none;
  text-align: right;
  line-height: 150%;
}

#footer a {
  text-decoration: none;
  color: #587A00;
}

#footer a:hover {
  text-decoration: none;
  color: #23221E;
}

#big-asterisk {
  font-family: Bagnard Sans;
  font-weight: 700;
  color: #0E3DBE;
  font-size: 1.8vw;
}
